.header {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, transparent 100%);
  padding: 16px 24px 32px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000;
}

.header a {
  color: #000;
  font-weight: bold;
}

.header button img {
  filter: brightness(0);
}

.logoLink {
  display: flex;
}

.logo {
  height: 32px;
  width: auto;
  /* iOS SafariでのSVGレンダリングのぼやけを防止 */
  transform: translateZ(0);
}

@media (max-width: 640px) {
  .header {
    padding: 24px 16px 8px;
  }
}
